<div class="displayTable">
  <div class="displayTableCell">
  <div class="authBlock">
  <h3>Sign Up</h3>

 <form [formGroup]="signupForm" (ngSubmit)="signup()" >
  <div class="formGroup">
     <input type="text" class="formControl" placeholder="user name" name="name" formControlName="name" required>
      </div>
  <div class="formGroup">
  <input type="email" class="formControl" placeholder="Email Address" name="email" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
  </div>

  

  <div class="formGroup">
  <input type="password" class="formControl" placeholder="Password" name="password" formControlName="password" required>
  </div>

  <div class="formGroup">
    <input type="password" class="formControl" placeholder="Confirm Password" name="password_confirmation" formControlName="password_confirmation" required>
  </div>

 

  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Role
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="changeRole('manager')">manager</a>
        <a class="dropdown-item" (click)="changeRole('staff')">staff</a>
      </div>
    </div>

    <div class="formGroup">
      <input type="text" class="formControl" placeholder="manager_email" name="manager_id" formControlName="manager_id" *ngIf="selectedRole === 'staff'">
    </div>
  

  <div class="formGroup">
  <button type="submit" class="btn btnPrimary" [disabled]="!signupForm.valid || signupForm.value.password !== signupForm.value.password_confirmation" >Sign Up</button>
  </div>

  <div class="formGroup">
  <span class="or"><span class="orInner">Or</span></span>
  </div>

  

 </form>

  <!-- Continue with Google -->
  <div class="formGroup">
  <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
  <i class="fab fa-google-plus-g"></i>
  Continue with Google
  </button>
  </div>

  </div>
  <div class="redirectToLogin">
  <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
  </div>
  </div>
</div>