


<div id="document">
   
    <nav>
        <a routerLink="/user">Create An Account</a>
      </nav>
<h1>Current Vacations: {{vacationBalance}}</h1>
<h3>Annual Vacations: {{annualVacation}}</h3>
<h3>Casual Vacations:{{CasualBalance}}</h3>

<button (click)="toggle()" id="bt" class="btn-primary">Submit a new Vacation</button>



<ng-container *ngIf="show">
<form class="form-horizontal">

  <div>
      <label>Select Vacation Type</label>
      <br>
      <select id="vacationType" [(ngModel)]="selectedVacationType" name="first" class="form-control">
             <option *ngFor="let o of options">
               {{o.name}}
             </option>
            </select>
            <br>

      <ngbd-datepicker-range (dateDifferenceEvent)="setDifference($event)"></ngbd-datepicker-range>  
        
  </div>
  <br>
  <div>Submitted Vacations:
   
   
     <!-- <div>{{vacations |json}}</div> -->
     <li *ngFor="let v of vacations">{{v|json}}</li>
     
    

  </div>

  
</form>
<button (click)="decrement()" class="btn-success">Confrim</button>

</ng-container>
<router-outlet></router-outlet> 
</div>