
<h1>Current Vacations: {{vacationBalance}}</h1>
<h3>Annual Vacations: {{annualVacation}}</h3>
<h3>Casual Vacations:{{CasualBalance}}</h3>

<button (click)="toggle()" id="bt">Submit a new Vacation</button>


<ng-container *ngIf="show">
<form id="VacationForm">

  <div class="form-group" id="SelectForm">
      <label>Select Vacation Type</label>
      <br>
      <select>
              <option value="1">Annual</option>
              <option value="2">Casual</option>
            </select>
 
  </div>
  <br>
  <button>Confrim</button>
</form>


</ng-container>
<router-outlet></router-outlet> 

