

 <div class="wrapper">

    <ng-container *ngIf="show1">


        <nav id="sidebar">  
                <ul class="list-unstyled components" id="homeSubmenu">
                  <li>
                     <a class="nav-item nav-link" routerLink="/">Home</a>
                 </li>
        
                <li>
                  <a class="nav-item nav-link" routerLink="/vacations">Submitted Vacations</a> 
                </li>       
                </ul>
              
              </nav>
        
        
          </ng-container>     


<div id="content">

  
<nav class="navbar-dark bg-dark" id="mainNav">


   <button class="navbar-toggler"  type="button"  
   (click)="toggle1()">
     <span class="navbar-toggler-icon"></span>
      </button>

     
    

 
</nav>


<div class="container" id="vacationBalance">
<h2>Current Vacations: {{userDoc?.TotalBalance}}</h2>
<h3>Annual Vacations: {{userDoc?.AnnualBalance}}</h3>
<h3>Casual Vacations:{{userDoc?.CasualBalance}}</h3>

<br>

<button (click)="toggle()" id="bt" class="btn-primary">Submit a new Vacation</button>

</div>

<div class="container" id="dataPicker">
   
  
    <router-outlet></router-outlet>

</div>


<div id="document">

<ng-container *ngIf="show">
<form class="form-horizontal">

<div style="width: 50%;">
<label>Select Vacation Type</label>
<br>
<select id="vacationType" [(ngModel)]="selectedVacationType" name="first" class="form-control">
     <option *ngFor="let o of options">
       {{o.name}}
     </option>
    </select>
    <br>

 

<ngbd-datepicker-range (EndDateEvent)="setEndDate($event)" (FromDateEvent)="setFromDate($event)" (dateDifferenceEvent)="setDifference($event)" class="container"></ngbd-datepicker-range> 



</div>
<br>


</form>
<button (click)="decrement()" class="btn-success">Confirm</button>

</ng-container>
</div>

</div>


</div>







  


  
